$primary-color: white;
$secondary-color: #5cbdea;
$third-color: #45b3e7;
$grey: #202020;
$navy: #000080;
$white: #cbdcec;
$main-font: 'Unica One';
$secondary-font: 'Wire One';
$background: url("../img/covers/backgrounds/topViewWallPaper.jpg");