.Tile{
    
    .Tile-Header{
        margin: 0px auto 20px auto;
        h1{
            color: white;
            font-family: Unica One;
            font-size: 8em;
            letter-spacing: 3px;
            padding: 5px 0 0 0;
        }
    }
    .Tile-Data{
        box-shadow: 0px 0px 90px black;
        .content{
            padding: 0!important;
            margin: 0!important;
            .feat{
                padding: 0!important;
                margin: 0!important;
                transition: .4s;
                background-color: rgba(0, 0, 0, 0.3);
                h3{
                    color: white;
                    font-family: $secondary-font;
                    font-size: 3em;
                    font-weight: 600;
                    letter-spacing: 4px;
                    padding-top: 125px;
                    padding-bottom: 129px;
                    margin: 0;
                    transition: .4s;
                }
        
                h3:hover{
                    color: $third-color;
                }
            }
            .feat:hover{
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.7)
            }
        }
    }
}

@media only screen and (max-width:600px){
    .Tile{
    
        .Tile-Header{
            margin: 0;
            h1{
                color: white;
                font-family: Unica One;
                font-size: 7.25em;
                letter-spacing: 3px;
                padding: 5px 0 0 0;
            }
        }
    }
}

.Slide{
    transition: all 500ms linear;
    .container{
        padding: 0!important;
    }
}

@media only screen and (max-width:600px){
    .Slide{

        .container{
            padding: 0!important;
        }
        h1{
            font-size: 6em!important;
        }
    }
}

.Slide-enter{
    opacity: 0.5;
    transform: translateY(-200%)
}

.Slide-enter-active{
    opacity: 0.75;
    transform: translateY(-100%)
}

.Slide-enter-done{
    opacity: 1;
    transform: translateY(0)
}

.Slide-exit{
    opacity: 1;
    transform: translateY(0)
}

.Slide-exit-active{
    opacity: 0.75;
    transform: translateY(100%)
}

.Slide-exit-done{
    opacity: 0.5;
    transform: translateY(200%)
}

.featured-cov:hover{
    div{
        transform: scale(1.1);
    }
    h3{
        color: $secondary-color;
    }
}

.featured-cov{
    div{
        transition: all 150ms linear;
    }
    h3{
        transition: all 150ms linear;
    }
}